@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'Roboto', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}


/* ------- HEADER --------- */
header {
	display: flex;
}

header section {
	display: flex;
	height: 40px;
	margin-top: 3vh;
}

.logo {}

.wolke {
	width: 100vw;
}

.wolke img {
	width: 60%;
	position: absolute;
	right: 0;
	z-index: -1;
}

/*  -------- MAIN ---------- */

.marginleft {
	margin-left: 10vw;
}

.heroheadline article {
	margin-top: 20%;
	max-width: 450px;
}

.heroheadline article h1 {
	font-size: 50px;
	padding-bottom: 2%;
}

.heroheadline article p {
	line-height: 25px;
}

.heroheadline article p:last-child {
	font-size: 12px;
	font-weight: 500;
	color: #ff3571;
	margin-top: 30%;
}

.emoji {
	height: 30px;
}